@import url("https://fonts.googleapis.com/css2?family=Montserrat");

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
}

p {
  font-size: 1.6rem;
}
